.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin: 0 10px; 
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #006400;
  text-decoration: none;
  font-family: monospace;
  letter-spacing: 15px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar-nav .nav-link {
  color: #333;
  padding: 0.5rem 1rem;
}

.full-width-table {
  width: 100%;
}
.products{
  border: 3px solid black;
  padding: 15px;
  margin: 20px;
  height: 200px;
}
.nav-item{
  padding: 10px;
}
input{
  margin-left: 1000px;
  margin-top: 30px;
}

/* Optional: Adjust styles for active link */
.navbar-nav .nav-item.active .nav-link {
  color: #fff;
  background-color: #007bff;
}
body{
  width: 100%;
}
header{
  border-bottom: #006400 3px solid;
}
